numpy
jupyter
torch
torchvision
scikit-learn
tqdm
jupyterlab
matplotlib
seaborn
medmnist
transformers
datasets
trl
peft
wandb
huggingface_hub
papermill
opencv-python
tabulate
llama-index
llama-index-embeddings-huggingface
llama-index-readers-file
llama-index-llms-ollama
sentence-transformers
